
* {                  /* le saca las propiedades por default a los elementos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
/* modifica el color de fondo de la pagina y el texto del lado derecho */
body {
  background: #685858;
  font-size: 14px;
  line-height: 22px;
  color: #3d3a3a;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;  /* pone todas las letras en mayúsculas */
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 250px;
  background: #075977;
}

.resume .resume_left .resume_profile {
  width: auto;
  height: auto;
}
/* controla el formato de la imagen */
.resume .resume_left .resume_profile img {
  top: 15px;
  width: 80%;
  height: 8 0%;
  border-radius: 50%;
  position: relative;left: 10%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}
/* color del texto de los titulos izquierdos */
.resume .resume_left .bold {
  color: #fff;
}
/* color del texto regular izquierdo */
.resume .resume_left .regular {
  color: #fff;
}
/* color de la linea horizontal separadora de secciones */
.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #148db9;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}
/* Formatea iconos izq */
.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #4e8ea5;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* textos menor de los iconos izq */
.resume .resume_left ul li .data {
  color: #b1eaff;
}
/* color de la letra de la seccion habilidades */
.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #e2f3f9;
  justify-content: space-between;
  align-items: center;
}
/* modifica ancho del texto de las habilidades */
.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}
/* modifica propiedades derecho de las barras habildades */
.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: rgb(255, 255, 255);
  position: relative;
}
/* modifica ancho del porcentaje */
.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}
/* modifica color izquierdo de las barras habildades */
.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #009fd9;
}

/* modifica ancho del texto de los idiomas */
.resume .resume_left .resume_skills ul li .language_name {
  width: 100%;
}
/* modifica color derecho de las barras idiomas */
.resume .resume_left .resume_skills ul li .language_progress {
  width: 85%;
  margin: 0 5px;
  height: 5px;
  background: rgb(255, 255, 255);
  position: relative;
}
/* modifica color izquierdo de las barras language */
.resume .resume_left .resume_skills ul li .language_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #009fd9;
}


/* titulo de los iconos izquierdos */
.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}
/* ancho de la columna derecha */
.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}
/* Titulos de la seccion derecha */
.resume .resume_right .bold {
  color: #148db9;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}
/* Color de los circulos de las listas derechas */
.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50px 50px;
  background: #2398c3;
  border: 2px solid #2398c3;
}
/* Color de las lineas verticales de las listas derechas */
.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 280px;
  background: #2398c3;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}
/* modifica color de iconos y circulos de hobbies */
.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}
/* modifica color de lineas horizontales de hobbies */
.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

.boton {
  border: 2px solid  #008CBA;
  color: #0352fd;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: rgb(153, 227, 244);
  transition-duration: 0.4s;
}
/* efecti hiver sobre el boton */
.boton:hover {
  background-color: #008CBA;
  color: rgb(197, 236, 233);
}

nav{
  display: flex;
  margin: 10px auto;
  justify-content: center;
  background-color: rgb(69, 185, 220);
  /* las siguientes lineas dejan fija la barra de navegacion al fnal */
  position:sticky;
  bottom: 0;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul li{

  margin: 10px 30px  10px 30px;


  font-size: 16px;
  font-weight: 500;
}
